asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
Django==5.1.4
django-ckeditor==6.7.2
django-ckeditor-5==0.2.15
django-js-asset==3.0.1
django-unfold==0.44.0
idna==3.10
pillow==11.1.0
requests==2.32.3
sqlparse==0.5.3
urllib3==2.3.0
