{% load static %}
<div role="dialog" aria-labelledby="title-modal" aria-describedby="text-modal" aria-modal="true"
     aria-label="Модальное меню" class="modal" id="callback-modal" data-callback-modal>
    <div class="modal__wrapper">
        <button aria-label="Закрыть модальное окно" title="Закрыть модальное окно" type="button"
                class="modal__close-btn" data-callback-close>
            <i data-lucide="x"></i>
        </button>
        <div class="modal__container container">
            <div class="modal__inner">
                <div class="modal__header">
                    <h2 class="modal__title h3" id="title-modal">Заявка на обратную связь</h2>
                    <p class="modal__description" id="text-modal">Если у вас есть вопросы или уточнения, заполните
                        форму, и мы обязательно свяжемся с вами в кратчайшие сроки.</p>
                </div>
                <div class="modal__body">
                    <form class="modal__form form"
                          hx-post="{% url 'main:submit_request' %}"
                          hx-target="#modal-message-container"
                          hx-swap="outerHTML">
                        <div class="form__group">
                            <div class="form__item">
                                <label class="form__label" for="modal-first-name">Имя:</label>
                                <input type="text" name="first-name" class="form__input" id="modal-first-name"
                                       autocomplete="off" placeholder="Иван" required>
                            </div>
                            <div class="form__item">
                                <label class="form__label" for="modal-last-name">Фамилия:</label>
                                <input type="text" name="last-name" class="form__input" id="modal-last-name"
                                       autocomplete="off" placeholder="Иванов" required>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="form__item">
                                <label class="form__label" for="modal-email">Email:</label>
                                <input type="email" name="email" class="form__input" id="modal-email" autocomplete="off"
                                       placeholder="ivan95@example.ru" required>
                            </div>
                            <div class="form__item">
                                <label class="form__label" for="modal-phone">Телефон:</label>
                                <input type="text" name="phone" class="form__input" id="modal-phone" autocomplete="off"
                                       placeholder="+7(000)000-00-00" required data-field-phone>
                            </div>
                        </div>
                        <button id="contact-form-button" aria-label="Отправить" title="Отправить" type="submit"
                                class="form__button button button--primary">Отправить
                        </button>
                    </form>
                    <div id="modal-message-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer" id="footer">
    <div class="footer__upper">
        <div class="footer__upper-inner container">
            <div class="footer__logo logo">
                <a aria-label="Главная" title="Главная" href="./index.html" class="logo">
                    <img src="{% static 'images/logo.svg' %}" width="212" height="25"
                         alt="Логотип компании градтехнострой"
                         class="logo__brand">
                </a>
            </div>
            <nav aria-label="Навигация в подвале" class="footer__navbar footer-navbar">
                <menu class="footer-navbar__menu">
                    <li class="footer-navbar__menu-item">
                        <a aria-label="О компании" title="О компании" href="{% url 'main:about' %}"
                           class="footer-navbar__menu-link">О компании</a>
                    </li>
                    <li class="footer-navbar__menu-item">
                        <a aria-label="Услуги" title="Услуги" href="{% url 'services:index' %}"
                           class="footer-navbar__menu-link">Услуги</a>
                    </li>
                    <li class="footer-navbar__menu-item">
                        <a aria-label="Башенные краны" title="Башенные краны" href="{% url 'towers:index' %}"
                           class="footer-navbar__menu-link">Башенные краны</a>
                    </li>
                    <li class="footer-navbar__menu-item">
                        <a aria-label="Запасные части" title="Запасные части" href="{% url 'parts:index' %}"
                           class="footer-navbar__menu-link">Запасные части</a>
                    </li>
                    <li class="footer-navbar__menu-item">
                        <a aria-label="Новости" title="Новости" href="{% url 'articles:index' %}"
                           class="footer-navbar__menu-link">Новости</a>
                    </li>
                </menu>
            </nav>
            <div class="footer-contacts">
                <h2 class="footer-contacts__title h4">Наши контакты</h2>
                <ul class="footer__contacts footer-contacts__list">
                    <li class="footer-contacts__item">
                        <a href="tel:+78442574002" class="footer-contacts__link footer-contacts__link--phone">
                            <span class="footer-contacts__link-index">Моб.телефон:</span>
                            <span class="footer-contacts__link-value">+7 (844) 257-40-02</span>
                        </a>
                    </li>
                    <li class="footer-contacts__item">
                        <a href="mailto:info@gradts.ru" class="footer-contacts__link footer-contacts__link--mail">
                            <span class="footer-contacts__link-index">Email:</span>
                            <span class="footer-contacts__link-value">info@gradts.ru</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom-inner container">
            <p aria-label="© 2025 ГРАДТЕХНОСТРОЙ. Все права защищены" class="footer__copyright">© 2025 ГРАДТЕХНОСТРОЙ.
                Все права защищены</p>
            <a aria-label="Дизайн и разработка сайта" href="https://t.me/nekitmochalov007" target="_blank"
               class="footer__dev-author">Дизайн и
                разработка сайта</a>
        </div>
    </div>
</footer>