{% extends 'base.html' %} {% load static %}
{% block title %} Главная {% endblock %}

{% block content %}
<section aria-labelledby="hero-title" class="hero" id="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <div class="hero__content-preview">
                <img loading="lazy" width="655" height="700" src="{% static 'images/hero/img-2.jpg' %}"
                     alt="Башенный кран"
                     class="hero__content-img">
            </div>
            <div class="hero__content-info">
                <div class="hero__content-upper">
                    <h1 id="hero-title" class="hero__title h1">Мы поможем достичь любую высоту!</h1>
                </div>
                <div class="hero__content-bottom">
                    <a aria-label="Посмотреть услуги" title="Посмотреть услуги" href="{% url 'services:index' %}"
                       class="hero__services-link button button--primary">Посмотреть услуги</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section aria-labelledby="about-title" aria-describedby="about-description" class="section about" id="about-section">
    <div class="container section__container">
        <div class="section__wrapper col col--2">
            <div class="section__aside">
                <p class="tag">Наша миссия</p>
            </div>
            <div class="section__content">
                <div class="section__content-info">
                    <h2 id="about-title" class="section__title h2">Надежность и результат в каждом решении</h2>
                    <div id="about-description" class="section__description">
                        <p>
                            Мы ориентируемся на предоставление практичных и эффективных решений, которые соответствуют задачам наших клиентов. Наша миссия — работать на результат, обеспечивая высокий уровень надежности, качества и профессионализма в каждом проекте. Мы видим свою цель в создании долгосрочных партнерских отношений и поддержке устойчивого развития бизнеса наших клиентов.
                        </p>
                    </div>
                </div>
                <a aria-labelledby="Читать подробнее" title="Читать подробнее" href="{% url 'main:about' %}"
                   class="section__button button button--primary">Читать подробнее</a>
            </div>
        </div>
    </div>
</section>
<section aria-labelledby="story-title" aria-describedby="story-description" class="section story" id="story-section">
    <div class="section__container container">
        <header class="section__header">
            <div class="section__header-info">
                <p class="section__header-tag tag">О компании</p>
                <h2 class="section__header-title h2" id="story-title">Профессионализм, надежность и качественные решения для ваших задач</h2>
            </div>
        </header>
        <div class="section__body">
            <ul class="section__grid story-grid">
                <li class="story-grid__item">
                    <div class="story-grid__item-body">
                        <img loading="lazy" src="{% static 'images/story/img-4.png' %}" alt="Башенные краны градтехнострой"
                             width="430" height="359" class="story-grid__item-img">
                    </div>
                </li>
                <li class="story-grid__item">
                    <div class="story-grid__item-body">
                        <img loading="lazy" src="{% static 'images/story/img-2.jpeg' %}" alt="Башенные краны градтехнострой"
                             width="430" height="765" class="story-grid__item-img">
                    </div>
                </li>
                <li class="story-grid__item">
                    <div class="story-grid__item-body">
                        <img loading="lazy" src="{% static 'images/story/img-1.jpeg' %}" alt="градтехнострой"
                             width="430" height="510" class="story-grid__item-img">
                    </div>
                </li>
                <li class="story-grid__item">
                    <div class="story-grid__item-body">
                        <div class="story-grid__item-text" id="story-description">
                            <p>
                                Наша компания сочетает многолетний опыт, высокий уровень профессионализма и индивидуальный подход к каждому клиенту. Мы строим доверительные отношения, обеспечивая качество и стабильность на каждом этапе сотрудничества.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="story-grid__item">
                    <div class="story-grid__item-body">
                        <div class="story-grid__item-text">
                            <p>
                                Мы гордимся своей репутацией надежного партнера, который помогает клиентам достигать поставленных целей. Наши решения основаны на внимании к деталям, ответственности и глубоком понимании ваших потребностей.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section aria-labelledby="crane-title" class="section products" id="crane-section">
    <div class="container section__container">
        <header class="section__header">
            <div class="section__header-info">
                <p class="section__header-tag tag">Башенные краны</p>
                <h2 class="section__header-title h2" id="crane-title">Башенные краны на продажу — идеальные решения для
                    вашего строительства</h2>
            </div>
            <a aria-label="Все краны" title="Все краны" href="{% url 'towers:index' %}" class="section__link link-more">
                <span class="link-more__text icon icon--arrow-right"
                      style="--icon: url({% static 'icons/arrow-left.svg' %})">Смотреть все краны</span>
            </a>
        </header>
        <div class="section__body">
            <ul aria-label="Список товаров" class="crane-products">
                {% if cranes and cranes.exists %}
                {% for crane in cranes %}
                <li aria-label="Элемент списка товаров" class="crane-products__item">
                    <article aria-labelledby="product-name" class="crane-products__card product-card">
                        <a href="{% url 'towers:detail' crane.slug %}" class="product-card__link">
                            <div class="product-card__wrapper">
                                <header class="product-card__header">
                                    <h3 class="product-card__header-name h4" id="product-name">{{ crane.name }}</h3>
                                    <time class="product-card__header-year">{{ crane.get_state_display }}</time>
                                </header>
                                <div class="product-card__body">
                                    <div class="product-card__body-preview">
                                        <img loading="lazy" src="{{ crane.image.url }}" width="540"
                                             height="615" alt="{{ crane.title }}"
                                             class="product-card__body-img">
                                    </div>
                                    <div class="product-card__body-description">
                                        <p>{{ crane.small_text }}</p>
                                    </div>
                                </div>
                                <div class="product-card__footer">
                                    <ul aria-label="Список характеристик" class="product-card__features features">
                                        <li aria-label="Элемент списка характеристик" class="features__item">
                                            <p class="features__item-index">Грузоподъемность макс. (тонн):</p>
                                            <p class="features__item-value">{{ crane.max_load_capacity }} т.</p>
                                        </li>
                                        <li aria-label="Элемент списка характеристик" class="features__item">
                                            <p class="features__item-index">Макс. вылет стрелы (м):</p>
                                            <p class="features__item-value">{{ crane.load_at_max_reach }} м.</p>
                                        </li>
                                        <li aria-label="Элемент списка характеристик" class="features__item">
                                            <p class="features__item-index">Высота подъема крюка (м)</p>
                                            <p class="features__item-value">{{ crane.hook_height }} м.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </article>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</section>
<section aria-labelledby="spare-title" class="section products" id="spare-section">
    <div class="container section__container">
        <header class="section__header">
            <div class="section__header-info">
                <p class="section__header-tag tag">Запасные части</p>
                <h2 class="section__header-title h2" id="spare-title">Запасные части для башенных кранов — надежность и
                    долговечность вашего оборудования</h2>
            </div>
            <a aria-label="Все запасные части" title="Все запасные части" href="{% url 'parts:index' %}"
               class="section__link link-more">
                <span class="link-more__text icon icon--arrow-right"
                      style="--icon: url({% static 'icons/arrow-left.svg' %})">Смотреть все запасные части</span>
            </a>
        </header>
        <div class="section__body">
            <ul aria-label="Список товаров" class="crane-products">
                {% if parts and parts.exists %}
                {% for part in parts %}
                <li aria-label="Элемент списка товаров" class="crane-products__item">
                    <article aria-labelledby="product-name" class="crane-products__card product-card">
                        <a href="{% url 'parts:detail' part.slug %}" class="product-card__link">
                            <div class="product-card__wrapper">
                                <header class="product-card__header">
                                    <h3 class="product-card__header-name h4" id="product-name">{{ part.name }}</h3>
                                    <time class="product-card__header-year">{{ part.get_state_display }}</time>
                                </header>
                                <div class="product-card__body">
                                    <div class="product-card__body-preview">
                                        <img loading="lazy" src="{{ part.image.url }}" width="540"
                                             height="615" alt="{{ part.title }}"
                                             class="product-card__body-img">
                                    </div>
                                    <div class="product-card__body-description">
                                        <p>{{ part.small_text }}</p>
                                    </div>
                                </div>
                                <div class="product-card__footer">
                                    <ul aria-label="Список характеристик" class="product-card__features features">
                                        <li aria-label="Элемент списка характеристик" class="features__item">
                                            <p class="features__item-index">Совместимость:</p>
                                            <p class="features__item-value">{{ part.brand }}</p>
                                        </li>
                                        <li aria-label="Элемент списка характеристик" class="features__item">
                                            <p class="features__item-index">Наличие:</p>
                                            <p class="features__item-value">
                                                {% if part.in_stock %}
                                                В наличии
                                                {% else %}
                                                Нет в наличии
                                                {% endif %}
                                            </p>
                                        </li>
                                        <li aria-label="Элемент списка характеристик" class="features__item">
                                            <p class="features__item-index">SKU</p>
                                            <p class="features__item-value">{{ part.sku }}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </article>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</section>
<section aria-labelledby="services-title" class="section services" id="services-section">
    <div class="section__container container">
        <header class="section__header">
            <div class="section__header-info">
                <p class="section__header-tag tag">Наши услуги</p>
                <h2 class="section__header-title h2" id="services-title">Мы предоставляем профессиональные услуги, чтобы
                    вы могли сосредоточиться на главном и доверить остальное нам</h2>
            </div>
            <a aria-labelledby="Все услуги" title="Все услуги" href="{% url 'services:index' %}"
               class="section__header-link link-more">
                <span class="link-more__text icon icon--arrow-right"
                      style="--icon: url({% static 'icons/arrow-left.svg' %})">Все услуги</span>
            </a>
        </header>
        <div class="section__body">
            <ul aria-label="Список услуг" class="services-list">
                {% if services and services.exists %}
                {% for service in services %}
                <li aria-label="Элемент списка услуг" class="services-list__item">
                    <article aria-label="Карточка услуги" class="services-list__item-card service-card">
                        <div aria-hidden="true" class="service-card__count"></div>
                        <div class="service-card__body">
                            <h3 class="service-card__body-title h3">{{ service.name }}</h3>
                            <div class="service-card__body-description">
                                <p>{{ service.description }}</p>
                            </div>
                        </div>
                    </article>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</section>
<section aria-labelledby="feedback-title" aria-describedby="feedback-description" class="feedback" id="feedback-section">
    <div class="feedback__container container">
        <div class="feedback__wrapper">
            <p class="feedback__wrapper-tag tag">Вопрос-Ответ</p>
            <h2 class="feedback__wrapper-title h2" id="feedback-title">Мы всегда готовы выслушать и предложить лучшие решения</h2>
            <div class="feedback__wrapper-description" id="feedback-description">
                <p>Если у вас есть вопросы, предложения или вам нужно обсудить детали сотрудничества, мы всегда на связи. Наша команда готова предоставить необходимую информацию и помочь с выбором оптимальных решений. Мы ценим каждого клиента и стремимся к тому, чтобы ваше взаимодействие с нами было максимально удобным и продуктивным. Не сомневайтесь, мы постараемся ответить на все ваши запросы в кратчайшие сроки.</p>
            </div>
            <button aria-label="Задать вопрос" title="Задать вопрос" type="button"
                    class="feedback__wrapper-button button button--primary" data-callback-button>Задать вопрос
            </button>
        </div>
    </div>
</section>
<section aria-labelledby="spare-title" class="section news-section" id="news-section">
    <div class="container section__container">
        <header class="section__header">
            <div class="section__header-info">
                <p class="section__header-tag tag">Новости и статьи</p>
                <h2 class="section__header-title h2" id="news-title">Свежие материалы и важные события отрасли</h2>
            </div>
            <a aria-label="Все новости" title="Все новости" href="{%  url 'articles:index' %}" class="section__link link-more">
                <span class="link-more__text icon icon--arrow-right" style="--icon: url({% static 'icons/arrow-left.svg' %})">Все новости</span>
            </a>
        </header>
        <div class="section__body">
            {% if articles and articles.exists %}
            <ul aria-label="Список новостей" class="section__news-list news">
                {% for article in articles %}
                <li aria-label="Элемент списка новостей" class="news__item">
                    <article class="news__item-card news-card">
                        <div class="news-card__wrapper">
                            <div class="news-card__info">
                                <div class="news-card__info-detail">
                                    <time>{{ article.created_at|date:"d M Y" }}</time>
                                    <h3 class="news-card__info-name h4">{{ article.title }}</h3>
                                </div>
                                <a aria-label="Читать подробнее" title="Читать подробнее"
                                   href="{% url 'articles:detail' article.slug %}"
                                   class="news-card__info-link-detail button button--primary">Читать подробнее</a>
                            </div>
                            <img loading="lazy" src="{{ article.image.url }}" alt="{{ article.title }}"
                                 width="1340" height="591" class="news-card__img">
                        </div>
                    </article>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}