@use "../helpers" as *;

.advantages {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: fluid(130, 24);
    @include mobile {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include mobile-small {
      grid-template-columns: 1fr;
    }
  }
}