@use "../helpers" as *;

.navigation {
  position: relative;
  z-index: 90;
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: rem(12);
    @include mobile {
      display: grid;
      row-gap: rem(18);
    }
    &-item {
      display: inline-flex;
    }
    &-link {
      text-align: center;
      @include mobile {
        margin-inline: auto;
        color: hsl(var(--primary-foreground));
      }
    }
  }
}